In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('zomato.csv',encoding='latin-1')
data.shape

(9551, 21)

In [3]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [4]:
data.drop(columns=['Restaurant ID','Is delivering now'],inplace=True)

In [5]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Switch to order menu', 'Price range',
       'Aggregate rating', 'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [6]:
data['Country Code'].nunique()

15

In [7]:
data['Country Code'].value_counts()

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [5]:
data=data[data['Country Code']==1]
data.shape

(8652, 19)

In [6]:
data.drop(columns=['Currency','Country Code'],inplace=True)

In [12]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [11]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Ahmedabad         21
Guwahati          21
Lucknow           21
Amritsar          21
Bhubaneshwar      21
Aurangabad        20
Pune              20
Ludhiana          20
Jaipur            20
Bhopal            20
Mumbai            20
Puducherry        20
Varanasi          20
Allahabad         20
Chennai           20
Kochi             20
Nashik            20
Surat             20
Vizag             20
Bangalore         20
Nagpur            20
Goa               20
Coimbatore        20
Dehradun          20
Agra              20
Patna             20
Vadodara          20
Indore            20
Kanpur            20
Mysore            20
Mangalore         20
Ranchi            20
Kolkata           20
Hyderabad         18
Chandigarh        18
Secunderabad       2
Mohali             1
Panchkula          1
Name: City, dtype: int64

In [7]:
data=data[data['City'].isin(['New Delhi','Gurgaon','Noida'])]
data.shape

(7671, 17)

In [8]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [15]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day                81
Domino's Pizza                 75
Subway                         60
Green Chick Chop               47
McDonald's                     44
Keventers                      33
Giani                          28
Baskin Robbins                 26
Barista                        21
Pizza Hut                      20
Dunkin' Donuts                 20
Giani's                        20
Costa Coffee                   19
Pizza Hut Delivery             19
Wah Ji Wah                     19
Twenty Four Seven              18
Chaayos                        18
Republic of Chicken            17
Sagar Ratna                    17
Starbucks                      17
Pind Balluchi                  16
Haldiram's                     15
Bikanervala                    14
Aggarwal Sweets                14
Burger King                    14
KFC                            13
Behrouz Biryani                13
Moti Mahal Delux               13
Bikaner Sweets                 13
Shree Rathnam                  13
                               ..
Titu Restaurant                 1
TAG                             1
Al Mughal                       1
Palmyra - The Bristol Hotel     1
Royal Spice Restaurant          1
Bikaner Restaurant              1
Saturn                          1
Uncle Sam                       1
Best Biryani                    1
Burgzz Bee                      1
King Chilly Kitchen             1
Sialkot                         1
Friend's Restaurant             1
Bite & More                     1
Lobby Lounge - Crowne Plaza     1
Sher 'A' Punjab Bhojnalya       1
Insomnia - Taj Vivanta          1
Palomino                        1
#OFF Campus                     1
Days of the Raj                 1
Cafe Rasoi                      1
Crust Bistro                    1
Hungry Heroes                   1
Divine Bites                    1
Aggarwal's Sweets               1
Pita Pan                        1
Uncle's Punjabi Rasoi           1
Indian Home Food                1
Indochi                         1
Lakhori - Haveli Dharampura     1
Name: Restaurant Name, Length: 5834, dtype: int64

In [16]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [9]:
data.drop(columns=['Restaurant Name','Address','Locality','Locality Verbose','Rating color','Rating text'],inplace=True)

In [10]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [11]:
data.drop(columns=['Switch to order menu'],inplace=True)

In [20]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [21]:
data.shape

(7671, 10)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7671 entries, 1161 to 9112
Data columns (total 10 columns):
City                    7671 non-null object
Longitude               7671 non-null float64
Latitude                7671 non-null float64
Cuisines                7671 non-null object
Average Cost for two    7671 non-null int64
Has Table booking       7671 non-null object
Has Online delivery     7671 non-null object
Price range             7671 non-null int64
Aggregate rating        7671 non-null float64
Votes                   7671 non-null int64
dtypes: float64(3), int64(3), object(4)
memory usage: 659.2+ KB

In [13]:
#replace true and false in a column for simplicity
data['Has Table booking'].replace('Yes',1,inplace=True)
data['Has Table booking'].replace('No',0,inplace=True)

In [14]:
data['Has Online delivery'].replace('Yes',1,inplace=True)
data['Has Online delivery'].replace('No',0,inplace=True)

In [15]:
#data.corr()['Average Cost for two']
data.drop(columns=['Longitude','Latitude','Has Online delivery','Price range'],inplace=True)

In [16]:
data.columns

Index(['City', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [17]:
c=data.groupby('Cuisines')['Average Cost for two'].mean().reset_index()

In [18]:
ndata=data.merge(c,left_on='Cuisines',right_on='Cuisines')

In [20]:
ndata.drop(columns='Cuisines',inplace=True)

In [28]:
ndata=ndata.rename(columns={'Average Cost for two_x':'Cost','Average Cost for two_y':'Cuisine_Mean'})

In [29]:
ndata=ndata[['City','Has Table booking','Aggregate rating','Votes','Cuisine_Mean','Cost']]

In [31]:
X=ndata.iloc[:,:-1].values
y=ndata.iloc[:,-1].values

In [32]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [33]:
X[:,0]=enc.fit_transform(X[:,0])

In [35]:
from sklearn.preprocessing import OneHotEncoder
on=OneHotEncoder(categorical_features=[0])
X=on.fit_transform(X).toarray()
X.shape

(7671, 7)

In [36]:
X=X[:,1:]
X.shape

(7671, 6)

In [37]:
from sklearn.cross_validation import train_test_split
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2,random_state=9)

F:\anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [38]:
Xtrain.shape

(6136, 6)

In [39]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [40]:
reg.fit(Xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [41]:
ypred=reg.predict(Xtest)

In [43]:
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

0.7189272138600126

In [44]:
from sklearn.ensemble import RandomForestRegressor
reg1=RandomForestRegressor(n_estimators=200)

F:\anaconda\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [45]:
reg1.fit(Xtrain,ytrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [47]:
ypred1=reg1.predict(Xtest)

In [48]:
r2_score(ytest,ypred1)

0.6692857465487252

In [49]:
from sklearn.tree import DecisionTreeRegressor
reg2=DecisionTreeRegressor()

In [50]:
reg2.fit(Xtrain,ytrain)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [51]:
ypred2=reg2.predict(Xtest)

In [52]:
r2_score(ytest,ypred2)

0.5146958864477733

In [53]:
from sklearn.svm import SVR
reg3=SVR()

In [54]:
reg3.fit(Xtrain,ytrain)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [55]:
ypred3=reg3.predict(Xtest)

In [56]:
r2_score(ytest,ypred3)

-0.056812437284590844

In [57]:
reg.intercept_

-28.383826730703845

In [58]:
reg.coef_

array([1.33423465e+00, 4.67036860e+00, 4.49113493e+02, 3.34307206e+01,
       8.96588677e-02, 7.96950740e-01])